In [1]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
bank_marketing = fetch_ucirepo(id=222) 
  
# data (as pandas dataframes) 
X = bank_marketing.data.features 
y = bank_marketing.data.targets 
  
# metadata 
#print(bank_marketing.metadata) 
  
# variable information 
print(bank_marketing.variables)

           name     role         type      demographic  \
0           age  Feature      Integer              Age
1           job  Feature  Categorical       Occupation
2       marital  Feature  Categorical   Marital Status
3     education  Feature  Categorical  Education Level
4       default  Feature       Binary             None
5       balance  Feature      Integer             None
6       housing  Feature       Binary             None
7          loan  Feature       Binary             None
8       contact  Feature  Categorical             None
9   day_of_week  Feature         Date             None
10        month  Feature         Date             None
11     duration  Feature      Integer             None
12     campaign  Feature      Integer             None
13        pdays  Feature      Integer             None
14     previous  Feature      Integer             None
15     poutcome  Feature  Categorical             None
16            y   Target       Binary             None

                                          description  units missing_values
0                                                None   None             no
1   type of job (categorical: 'admin.','blue-colla...   None             no
2   marital status (categorical: 'divorced','marri...   None             no
3   (categorical: 'basic.4y','basic.6y','basic.9y'...   None             no
4                              has credit in default?   None             no
5                              average yearly balance  euros             no
6                                   has housing loan?   None             no
7                                  has personal loan?   None             no
8   contact communication type (categorical: 'cell...   None            yes
9                        last contact day of the week   None             no
10  last contact month of year (categorical: 'jan'...   None             no
11   last contact duration, in seconds (numeric). ...   None             no
12  number of contacts performed during this campa...   None             no
13  number of days that passed by after the client...   None            yes
14  number of contacts performed before this campa...   None             no
15  outcome of the previous marketing campaign (ca...   None            yes
16          has the client subscribed a term deposit?   None             no

In [2]:
X.head()

,age,job,marital,education,default,balance,housing,loan,contact,day_of_week,month,duration,campaign,pdays,previous,poutcome
0,58,management,married,tertiary,no,2143,yes,no,NaN,5,may,261,1,-1,0,NaN
1,44,technician,single,secondary,no,29,yes,no,NaN,5,may,151,1,-1,0,NaN
2,33,entrepreneur,married,secondary,no,2,yes,yes,NaN,5,may,76,1,-1,0,NaN
3,47,blue-collar,married,NaN,no,1506,yes,no,NaN,5,may,92,1,-1,0,NaN
4,33,NaN,single,NaN,no,1,no,no,NaN,5,may,198,1,-1,0,NaN

In [3]:
X.isna().sum()/X.shape[0]

age            0.000000
job            0.006370
marital        0.000000
education      0.041074
default        0.000000
balance        0.000000
housing        0.000000
loan           0.000000
contact        0.287983
day_of_week    0.000000
month          0.000000
duration       0.000000
campaign       0.000000
pdays          0.000000
previous       0.000000
poutcome       0.817478
dtype: float64

## data prep

 My purpose here is to focus on model deploy and monitor with sagemaker, so I'm going to remove poutcome and replace the other NA variables for "Empty"

In [4]:
X.drop(['poutcome'],axis = 1, inplace = True).fillna("Empty", inplace = True)

/tmp/ipykernel_23341/3011530790.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.drop(['poutcome'],axis = 1, inplace = True).fillna("Empty", inplace = True)

AttributeError: 'NoneType' object has no attribute 'fillna'

In [6]:
y.replace('yes',1,inplace = True)
y.replace('no',0, inplace = True)

/tmp/ipykernel_23341/2461985505.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y.replace('yes',1,inplace = True)
/tmp/ipykernel_23341/2461985505.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y.replace('no',0, inplace = True)

In [7]:
X[['housing','default','loan']] = X[['housing','default','loan']].replace({'yes': 1, 'no': 0})

/tmp/ipykernel_23341/2598044803.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[['housing','default','loan']] = X[['housing','default','loan']].replace({'yes': 1, 'no': 0})

In [8]:
X['y'] = y
X.shape

/tmp/ipykernel_23341/4024039031.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['y'] = y

(45211, 16)

In [25]:
X_train = X.select_dtypes('int')

var_list = [i for i in range(10)]
var_list.insert(0,10)

X_train = X_train.iloc[:, var_list]

In [26]:
X_train.head()

,y,age,default,balance,housing,loan,day_of_week,duration,campaign,pdays,previous
0,0,58,0,2143,1,0,5,261,1,-1,0
1,0,44,0,29,1,0,5,151,1,-1,0
2,0,33,0,2,1,1,5,76,1,-1,0
3,0,47,0,1506,1,0,5,92,1,-1,0
4,0,33,0,1,0,0,5,198,1,-1,0

[10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]